
<%- include("partials/header"); -%>


<h1><%=assessment.name%></h1>
<p>Weight: <%=assessment.weight%></p>
<p>Total Marks: <%=assessment.totalMarks%></p>

<a href="/editAssessment/<%= assessment._id %>">edit</a>

<table>
    <tr>
        <th>StudentID</th>
        <th>Grade</th>
    </tr>

    <% assessment.grades.forEach(function(grade, index) { %>
    <tr>
        <td><%=index+1%></td>
        <td><%=grade%></td>
    </tr>
    <%}) %>
</table>
<%- include("partials/footer"); -%>
