<%- include("partials/header"); -%>

    <h1>Edit <%=post.name%></h1>

    <form class="" action="/editPost/<%=post._id%>" method="post">
      <div class="">
        <label>Title</label>
        <input class="" type="text" name="postTitle" value="<%=post.title%>">
        <br>
        <label>Post</label>
        <textarea class="" name="postBody" rows="5" cols="30"><%=post.content%></textarea>
      </div>
      <button class="" type="submit" name="button">Edit</button>
    </form>

<%- include("partials/footer"); -%>
