<%- include("partials/header"); -%>


<h1><%=assessment.name%></h1>

<form action="/editAssessment" method="post">
    <label for="assname">Assessment Name:</label><br>
    <input type="text" id="assname" name="assname" value="<%=assessment.name%>"><br>
    <label for="totalMarks">Total Marks:</label><br>
    <input type="text" id="totalMarks" name="totalMarks" value="<%=assessment.totalMarks%>"><br>
    <label for="weight">Weight:</label><br>
    <input type="text" id="weight" name="weight" value="<%=assessment.weight%>"><br><br>
    <input type="text" name="assid" value="<%=assessment._id%>">
    <h3>Edit Grades</h3>

    <% assessment.grades.forEach(function(grade, index) { %>
        <label>Student ID:</label><p><%=index+1%></p><br>
        <input type="text" name="grades[]" value="<%=grade%>"><br>
    <%}) %>

    <input type="submit" value="Submit">

</form>
<%- include("partials/footer"); -%>
