<%- include("partials/header"); -%>
<!-- A table showing every student's grades and total: 
<table>
    <tr>

      <th>Student ID</th>

      <% assessments.forEach(function(assessment) { %>
        <th><%= assessment.name %></th>
      <%}) %>

      <th>Total</th>

    </tr>

    <% students.forEach(function(student) { %>
      <tr>

        <td><%= student.id %></td>

        <% assessments.forEach(function(assessment) { %>
          <td><%= assessment.grades[student.id-1] %></td>
        <%}) %>

        <td>total calculated</td>
      </tr>
    <%}) %>

  </table>

  <br><br>
-->
<%- include("partials/footer"); -%>
