<%- include('partials/header'); -%>

<div class="column left">
    <h1>Course Outline</h1>
    <p><%= startingContent -%></p>
    <% posts.forEach(function(post) { %>
      <h1><%= post.title %></h1>
        <p><%= post.content %></p>
    <%}) %>

</div>

<div class="column right">

        <div class="announcements">
            <h2 style="order: 1">Announcements</h2>
            <div>
                <h3>Welcome to SOEN287</h3>
                <p>don't forget to study</p>
            </div>
            <div>
                <h3>New announcement</h3>
                <p>the latest announcement is on top</p>
            </div>
        </div>

        <div class="chatbox">
            <div class="mheader">
                <h1> Chatbox </h1>
           </div> 
           <hr/>
           <div class="mbody"> <p id="message-container" class="message"> </p> </div>
        <hr/>
        <div class="mfooter">
            <form id="messagebox">
                    <input type="text" id="message" name="msg">
                    <input id="send-button" type="submit">
                </form>
           </div>
        </div>

</div>

<script src="/socket.io/socket.io.js"></script>
<script>
  var socket = io();
  var container = document.getElementById("message-container");
  var form = document.getElementById('messagebox');
  var input = document.getElementById('message');
  form.addEventListener('submit', function(e) {
    e.preventDefault();
    if (input.value) {
        
      const message = input.value
      appendMessage(`You: ${message}`)
      socket.emit('chat message', message);
      input.value = '';
    }
  });
  function appendMessage(message){
    const messageElement = document.createElement('p')
    messageElement.innerText = message
    container.append(messageElement)
  }
  
</script>

<%- include('partials/footer'); -%>
