<%- include('partials/header'); -%>

<div class="column left">
    <h1>Welcome To SOEN287</h1>
    <p style=" white-space: pre-line;"><%=startingContent%></p>

    <% posts.forEach(function(post) { %>
      <h1><%= post.title %></h1>
        <p><%= post.content %></p>
    <%}) %>

</div>

<div class="column right">

        <div class="announcements">
            <h2 style="order: 1">Announcements</h2>
            <div>
                <h3>Welcome to SOEN287</h3>
                <p>don't forget to study</p>
            </div>
            <div>
                <h3>New announcement</h3>
                <p>the latest announcement is on top</p>
            </div>
        </div>

</div>


<%- include('partials/footer'); -%>
