<%- include("partials/header"); -%>

<table class="AssignmentTable">
  <thead>
  <tr>
    <td class="Headers" >Assignments</td>
    <td class="Headers" >Marks</td>
    <td class="Headers" >Letter Grade</td>
    <td class="Headers" >Average</td>
    <td class="Headers" >Median</td>   
  </tr>
</thead>
<% assessments.forEach(function(assessment, index) { %>
  <tr>

  <td class="Assignments"><%= assessment.name -%></td>
  <td class="LetterMark"><%= assessment.grades[0] -%></td>
  <td class="LetterGrade"><%= lettergrades[0] -%></td>
  <td class="Average">10%</td>
  <td class="Median">9%</td>
</tr>
<%}) %>
</table>



<%- include("partials/footer"); -%>
